html, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "TrebuchetMS", sans-serif;
}
body {
  -webkit-print-color-adjust: exact;
}
main {
  max-width: 600px;
  margin: 0 auto;
}
main span {
  font-size: 16px;
  font-weight: bold;
}

main h4 {
  display: inline-block;
  margin: 40px auto 30px;
}
.container_sm {
  max-width: 580px;
  margin: 0 0 0 auto;
}
.container_xs {
  max-width: 560px;
  margin: 0 0 0 auto;
}
h2 {
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}
p {
  line-height: 1.5;
  text-align: justify;
}
.date {
  font-weight: bold;
  text-align: center;
  margin: 50px auto 30px;
}

section {
  max-width: 600px;
  margin: 0 auto;
}
section h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.signature-row {
  display: flex;
}
.signature0:before {
  content: " ";
  display: block;
  background-color: #000;
  margin: 20px auto 10px 0;
  height: 1px;
  width: 200px;
}
.signature1 {
  flex: 50%;
}
.signature1:before {
  content: " ";
  display: block;
  background-color: #000;
  margin: 20px 0 10px 0;
  height: 1px;
  width: 200px;
}
.signature2 {
  flex: 50%;
}
.signature2:before {
  content: " ";
  display: block;
  background-color: #000;
  margin: 20px 0 10px 0;
  height: 1px;
  width: 200px;
}
button:hover {
  opacity: 0.8;
}
button {
  background-color: #397437;
  display: block;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 30px auto;
}

a{
  display: block;
  text-align: center;
  margin: 0 auto 50px;
  text-decoration: none;
  color: black;
}