html, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "TrebuchetMS", sans-serif;
}
body {
  -webkit-print-color-adjust: exact;
}
li {
  margin: 20px auto 0;
}
main {
  max-width: 600px;
  margin: 0 auto;
}
main span {
  font-size: 16px;
  font-weight: bold;
}
main h4 {
  font-weight:lighter;
  margin: 18px auto;
}
h2 {
  margin-top: 20px;
  text-align: center;
}
h3 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

p {
  line-height: 1.3;
  text-align: justify;
}

.header {
  display: flex;
  justify-content: space-between;
}
.img-header {
  display: flex;
  align-items: flex-end;
}
.text-header {
  display: flex;
  align-items: flex-end;
}
.text-header h5 {
  margin: 0;
  color:#818181;
  font-size: 12px;
}

.container_sm {
  max-width: 580px;
  margin: 0 0 0 auto;
}

.container_dados {
  margin: 35px auto;
}
.titulo_preambulo {
  font-size: 18px;
  font-weight: bolder;
}
.main-title {
  margin: 40px auto 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
article {
  margin: 0 auto;
}
article h4 {
  text-align: center;
}
article span {
  font-size: 18px;
  font-weight: bold;
}
.container_titulo-anexo1 {
  max-width: 600px;
  margin: 50px auto 20px;
}
.container_anexo1 label {
  display: block;
  background-color: gray;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.container_anexo1 ul {
  background-color: #f4f4f4;
  border: 1px solid #000;
  text-align: center;
}

.container_anexo1 li {
  border-bottom: 1px solid #000;
}
.container_anexo1 {
  max-width: 600px;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  grid-gap: 0;
  grid-template-areas: "col1 col2 col3 col4";
}

section {
  max-width: 600px;
  margin: 80px auto 300px;
  line-height: 1.4;
}

.col_valor-principal {
  grid-area: col4; 
}
.col_valor-juros {
  grid-area: col3; 
}
.col_valor-face {
  grid-area: col2; 
}
.col_data-prevista {
  grid-area: col1; 
}

.address_row, .representante_row {
  display: flex;
  margin: -20px 0 -20px;
   
}
.cidade {
  flex: 60%;
}
.estado {
  flex: 20%;
}
.numeroCep {
  flex: 20%;
}
.endereco {
  flex: 80%
}
.numero  {
  flex: 20%
}
.complemento {
  flex: 50%
}
.bairro {
  flex: 50%
}

.representante_row {
  display: flex;
  margin-top: -20px;
}
.cargo {
  flex: 70%;
}
.cpf_representante {
  flex: 30%
}

.signature-container {
  max-width: 600px;
  margin: 200px auto 700px;
}
.signature-container h4 {
  text-align: center;
}

.signature-productor {
  margin: 80px auto 80px;
}
.signature-productor h4 {
  margin-bottom: 40px;
}

.signature-agroforte {
  margin: 80px auto 80px;
}
.signature-agroforte h4 {
  margin-bottom: 40px;
}

.signature span {
  font-size: 16px;
  font-weight: bold;
}

.signature-row {
  display: flex;
  justify-content: space-between;
}

.signature0:before {
  content: " ";
  display: block;
  background-color: #000;
  margin: 20px auto 10px;
  height: 1px;
  width: 200px;
}
.signature0 {
  flex: 100%;
}
.signature0 p {
  text-align: center;
}

.signature1:before {
  content: " ";
  display: block;
  background-color: #000;
  margin: 20px auto 10px;
  height: 1px;
  width: 200px;
}
.signature1 {
  flex: 50%;
}
.signature1 p {
  text-align: center;
}

.signature2:before {
  content: " ";
  display: block;
  background-color: #000;
  margin: 20px auto 10px;
  height: 1px;
  width: 200px;
}
.signature2 {
  flex: 50%;
}
.signature2 p {
  text-align: center;
}


/*FORM*/

/* form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input {
  height: 30px;
  border-radius: 50px;
  border-color: #3dd969;
  margin: 10px 0;
  outline: none;
  font-size: 20px;
} */

button {
  display: block;
  margin: 0 auto;
  background-color: #066406;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 30px auto;
}
button:hover {
  opacity: 0.8;
}

a{
  display: block;
  text-align: center;
  margin: 0 auto 50px;
  text-decoration: none;
  color: black;
}