@media print {
  body {
    margin: 0;  
  }
}

@media print{
  .no-print{
      display:none;
  }
}

@page {
  margin: 0.7in; 
}

/*
@page :first {
  margin-top: 2in; // top margin for first page of paper
}
*/
